<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env bash

PARINIT="rTbgqR B=.,?!_A_a Q=_s&gt;|+" "${TM_PAR:-par}"</string>
	<key>fallbackInput</key>
	<string>scope</string>
	<key>input</key>
	<string>selection</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>^q</string>
	<key>name</key>
	<string>Reformat Quoted Text</string>
	<key>outputCaret</key>
	<string>heuristic</string>
	<key>outputFormat</key>
	<string>text</string>
	<key>outputLocation</key>
	<string>replaceInput</string>
	<key>requiredCommands</key>
	<array>
		<dict>
			<key>command</key>
			<string>par</string>
			<key>locations</key>
			<array>
				<string>/opt/local/bin/par</string>
				<string>/usr/local/bin/par</string>
			</array>
			<key>variable</key>
			<string>TM_PAR</string>
		</dict>
	</array>
	<key>scope</key>
	<string>markup.quote</string>
	<key>uuid</key>
	<string>65C64E73-D308-4251-9837-A3A040D5704B</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
